[defaults]
inventory               = $HOME/.ansible/hosts
fact_caching_connection = $HOME/.ansible/facts.d
log_path		= $HOME/.ansible/ansible
fact_caching            = jsonfile
remote_user             = root
gathering               = explicit
roles_path              = /usr/share/ansible/roles:$HOME/.ansible/roles:./roles
vault_password_file     = $ANSIBLE_VAULT_PASSWORD_FILE
library                 = $ANSIBLE_LIBRARY:/home/jherron/git/tdevs/cloud-development/collections/gaspar
host_key_checking       = False
bin_ansible_callbacks   = True
deprecation_warnings    = False
display_skipped_hosts   = False
forks                   = 20
ansible_managed         = Ansible managed
network_group_modules   = ['netconf']
callback_result_format  = yaml
callbacks_enabled       = timer, profile_tasks, profile_roles

[inventory]
[privilege_escalation]
[paramiko_connection]

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[persistent_connection]
command_timeout = 180
connect_timeout = 100
connect_retry_timeout = 100

[accelerate]
[selinux]
[colors]
[diff]
