[defaults]
inventory               = hosts
remote_user             = root
gathering               = explicit
roles_path              = /usr/share/ansible/roles:~/.ansible/roles
vault_password_file     = $ANSIBLE_VAULT_PASSWORD_FILE
host_key_checking       = False
fact_caching            = jsonfile
fact_caching_connection = facts.d
bin_ansible_callbacks   = True
deprecation_warnings    = False
forks                   = 20
ansible_managed         = Ansible managed
network_group_modules   = ['netconf']
log_path		= /var/log/ansible 
display_skipped_hosts   = False
callbacks_enabled       = timer, profile_tasks, profile_roles
callback_result_format  = yaml

[inventory]
[privilege_escalation]
[paramiko_connection]

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[persistent_connection]
command_timeout = 180
connect_timeout = 100
connect_retry_timeout = 100

[accelerate]
[selinux]
[colors]
[diff]

